<tr>
  <td class="edit_text_field_tag"><%= text_field_tag :date_of_diagnosis, value = nil, {:placeholder => "mm/dd/year"} %></td>
  <td class="edit_text_field_tag"><%= text_field_tag :type_of_cancer_id, value = nil, {:placeholder => "Cancer ID from below"} %></td>
</tr>