.page_title {
  border-bottom: 1px solid red;
  display: inline-block;
}

.cancer_type_header_update {
  padding-right: 15px;
  font-size: 1.5em;
  font-weight: 500;
}

.edit_label_tag {
  font-size: 1.5em;
  font-weight: 500;
  
}

.edit_text_field_tag {
  font-size: 1.1em;
  font-weight: 500;
}

.box_width {
  width: 175px;
}