.new_patient_button {
  margin-bottom: 20px;
}

.description {
  font-size: 1.2em;
  width: 150px;
}

.text_box {
  width: 150px;
  font-size: 1.2em;
}


.patient_names {
  margin: 0 0 0 20px;
}

.cancer_list {
  border: none;
  width: 90%;
  height: 400px;
  overflow: scroll;
}